.label{
  color: white;
  padding: 5px;
}

/* .main:hover{
  width: 300px;
} */

/* .sideLabel{
  padding: "24px";
  text-transform: "uppercase";
  font-weight: "bold";
  font-size: "14px";
  letter-spacing: "1px";
  overFlow: "hidden";
  text-overflow: "ellipsis";
  white-space: "nowrap";
  color: "#adadad";
  border-bottom: "1px solid hsla(0,0%,67.8%,.2)",
}

.menuItems{
  padding: "10px" !important;
  text-transform: "uppercase" !important;
  font-weight: "bold" !important;
  font-size: "14px" !important;
  letter-spacing: "1px" !important;
  overflow: "hidden" !important;
  text-overflow: "ellipsis" !important;
  white-space: "nowrap" !important;
  color: "#adadad" !important;
}

.rightContent{
  display: "flex";
  justify-content: "center";
  text-align: "center";
  width: "100%";
  height: "100%",
} */

.styledIcon{
  width: 30px !important;
  margin-left: 5px;
  cursor: pointer;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  position: relative;
  background-color: #2b2b2b;
  margin-left: 20px;
  margin-right: 20px;
}


.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item{
  display: none;
}